.navbar-nav .nav-link {
  margin-right: 10px;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav.mx-auto {
  justify-content: center;
}

.navbar-nav.mr-auto {
  margin-right: auto;
}

.navbar-nav.ml-auto {
  margin-left: auto;
}
